<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.api.mapper.BizTemplatePriceMapper">
    
    <resultMap type="com.ruoyi.api.domain.BizTemplatePrice" id="BizTemplatePriceResult">
        <id     property="templatePriceId"  column="template_price_id"  />
        <result property="templateId"       column="template_id"        />
        <result property="defaultItemId"    column="default_item_id"    />
        <result property="delFlag"          column="del_flag"           />
        <result property="createBy"         column="create_by"          />
        <result property="createTime"       column="create_time"        />
        <result property="updateBy"         column="update_by"          />
        <result property="updateTime"       column="update_time"        />
    </resultMap>

    <resultMap type="com.ruoyi.api.domain.BizTemplatePrice" id="BizTemplatePriceWithDefaultItemResult" extends="BizTemplatePriceResult">
        <association property="defaultItem" javaType="com.ruoyi.api.domain.BizTemplateItem">
            <id     property="templateItemId"   column="di_template_item_id"    />
            <result property="itemName"         column="di_item_name"           />
            <result property="size"             column="di_size"                />
            <result property="status"           column="di_status"              />
        </association>
    </resultMap>

    <resultMap type="com.ruoyi.api.domain.BizTemplatePrice" id="BizTemplatePriceWithItemsResult" extends="BizTemplatePriceWithDefaultItemResult">
        <collection property="templateItems" ofType="com.ruoyi.api.domain.BizTemplateItem">
            <id     property="templateItemId"   column="ti_template_item_id"    />
            <result property="itemName"         column="ti_item_name"           />
            <result property="size"             column="ti_size"                />
            <result property="status"           column="ti_status"              />
        </collection>
    </resultMap>

    <sql id="selectBizTemplatePriceVo">
        select template_price_id, template_id, default_item_id, del_flag, create_by, create_time, update_by, update_time 
        from biz_template_price
    </sql>

    <select id="selectBizTemplatePriceById" parameterType="Long" resultMap="BizTemplatePriceResult">
        <include refid="selectBizTemplatePriceVo"/>
        where template_price_id = #{templatePriceId} and del_flag = '0'
    </select>

    <select id="selectBizTemplatePriceByTemplateId" parameterType="Long" resultMap="BizTemplatePriceResult">
        <include refid="selectBizTemplatePriceVo"/>
        where template_id = #{templateId} and del_flag = '0'
    </select>

    <select id="selectBizTemplatePriceByTemplateIdWithItems" parameterType="Long" resultMap="BizTemplatePriceWithItemsResult">
        select 
            tp.template_price_id, tp.template_id, tp.default_item_id, tp.del_flag, 
            tp.create_by, tp.create_time, tp.update_by, tp.update_time,
            di.template_item_id as di_template_item_id, di.item_name as di_item_name, 
            di.size as di_size, di.status as di_status,
            ti.template_item_id as ti_template_item_id, ti.item_name as ti_item_name, 
            ti.size as ti_size, ti.status as ti_status
        from biz_template_price tp
        left join biz_template_item di on tp.default_item_id = di.template_item_id and di.del_flag = '0'
        left join biz_template_price_item tpi on tp.template_price_id = tpi.template_price_id and tpi.del_flag = '0'
        left join biz_template_item ti on tpi.template_item_id = ti.template_item_id and ti.del_flag = '0'
        where tp.template_id = #{templateId} and tp.del_flag = '0'
        order by tpi.sort_order asc
    </select>

    <select id="selectBizTemplatePriceList" parameterType="com.ruoyi.api.domain.BizTemplatePrice" resultMap="BizTemplatePriceResult">
        <include refid="selectBizTemplatePriceVo"/>
        <where>
            del_flag = '0'
            <if test="templateId != null">
                AND template_id = #{templateId}
            </if>
            <if test="defaultItemId != null">
                AND default_item_id = #{defaultItemId}
            </if>
        </where>
    </select>

    <insert id="insertBizTemplatePrice" parameterType="com.ruoyi.api.domain.BizTemplatePrice" useGeneratedKeys="true" keyProperty="templatePriceId">
        insert into biz_template_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateId != null">template_id,</if>
            <if test="defaultItemId != null">default_item_id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateId != null">#{templateId},</if>
            <if test="defaultItemId != null">#{defaultItemId},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateBizTemplatePrice" parameterType="com.ruoyi.api.domain.BizTemplatePrice">
        update biz_template_price
        <trim prefix="SET" suffixOverrides=",">
            <if test="defaultItemId != null">default_item_id = #{defaultItemId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where template_price_id = #{templatePriceId}
    </update>

    <update id="deleteBizTemplatePriceById" parameterType="Long">
        update biz_template_price set del_flag = '2' where template_price_id = #{templatePriceId}
    </update>

    <update id="deleteBizTemplatePriceByTemplateId" parameterType="Long">
        update biz_template_price set del_flag = '2' where template_id = #{templateId}
    </update>

</mapper>
